[Unit]
Description=A self hosted github runner
Requires=podman.socket

[Service]
Restart=always
ExecStartPre=/usr/bin/podman unshare /bin/chgrp 1001 %t/podman/podman.sock

[Container]
AutoUpdate=registry
SecurityLabelDisable=true
User=1001
Group=1001
PodmanArgs=--group-add=27
HostName=%H
ContainerName=%i-github-runner
LogDriver=journald
Pull=missing
ReadOnly=false

Image=ghcr.io/actions/actions-runner:latest
Volume=%t/podman/podman.sock:/var/run/docker.sock:rw,Z
Volume=/home/github/runner-config-files/%i/credentials:/home/runner/.credentials:rw,z
Volume=/home/github/runner-config-files/%i/credentials_rsaparams:/home/runner/.credentials_rsaparams:rw,z
Volume=/home/github/runner-config-files/%i/runner:/home/runner/.runner:rw,z

Volume=/home/github/runner-config-files/%i/job_started.sh:/opt/github-runner/job_started.sh:ro,z
Environment=ACTIONS_RUNNER_HOOK_JOB_STARTED=/opt/github-runner/job_started.sh
Exec=/home/runner/run.sh

[Install]
WantedBy=default.target
DefaultInstance=default
